altair==4.2.0
datetime==4.4
gnews==0.2.7
nltk==3.7
newspaper3k==0.2.8
numpy==1.22.3
openpyxl==3.0.10
pandas==1.4.2
plotly==5.6.0
regex==2022.3.15
scipy==1.7.3
streamlit==1.8.1
streamlit-option-menu==0.3.2
textblob==0.17.1
tinysegmenter==0.3
translators==5.0.0
vaderSentiment==3.3.2
yfinance==0.1.70
